:root {
  --color-primary: #5cb300;
  --color-primary-dark: #53a100;

  --color-background: #202720;
  --color-background-light: #363d36;
  --color-background-lighter: #4d524d;

  --color-spotify: #1ed760;
  --color-spotify-dark: #1bc256;

  --color-hover-light: #ffffff18;

  --color-black: #151515;
  --color-white: #e8e8e8;
}

html,
body,
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: var(--color-background);
  color: var(--color-white);
}
